html{
    box-sizing: border-box;
    background: url("oh-la-la.jpeg") center no-repeat;
    background-size: cover;
}

*, *::before, *::after{
    box-sizing: inherit;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

svg{
    fill: white;
    background: rgba(0, 0, 0, 0.2);
    padding: 3rem;
    border-radius: 50%;
    width: 20rem;
    margin-bottom: 2rem;
}

.wrapper{
    max-width: 30rem;
    min-width: 25rem;
    background-color: rgb(255, 249, 249);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
}
h2{
    text-align: center;
    margin: 0;
    font-weight: 200;
}
.plates{
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}
.plates li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
}
.plates label{
    flex: 1;
    cursor: pointer;
}

.plates input{
    display: none;
}

.plates input + label::before{
    content: "⬜️";
    margin-right: 1rem;
}
.plates input:checked + label::before{
    content: "🌮";
}
.add-items{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.add-items input{
    padding: 0.5rem;
    outline: none;
    margin: 0.2rem 0.2rem;
    flex: 1;
}
button{
    margin: 0.2rem 0.2rem;
    padding: 0.5rem;
    background-color: rgb(63, 61, 61);
    border: none;
    color: white;
}
button:hover{
    background-color: rgb(37, 35, 35);
}